
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.create-game-container {
    padding: 20px;
    color: #fff;
    font-size: 1rem;
    width: 100%;
    max-width: 600px; 
    height: auto; 
    margin: auto; 
    background-color: #333; 
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    gap: 10px; 
}


.disabled {
    opacity: 0.9; 
    pointer-events: none; 
}


.container-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px; 
    width: 100%;
}


.selector {
    width: 40%; 
    height: 100%; 
    padding: 8px; 
    border-radius: 4px;
    border: 1px solid #555; 
    background-color: #444; 
    color: #ddd; 
    font-size: 1rem; 
    transition: background-color 0.3s ease;
}


.selector:focus {
    border-color: #66b2ff; 
    background-color: #555; 
    outline: none;
}


.custom-words-contaienr {
    margin-top: 20px; 
    width: 100%;
    height: auto; 
}


.custom-words-input {
    resize: vertical; 
    padding: 10px;
    border: 1px solid #555; 
    border-radius: 4px; 
    width: 100%;
    height: 120px; 
    background-color: #444; 
    color: #ddd; 
    font-size: 1rem; 
    transition: border-color 0.3s ease;
}


.custom-words-input:focus {
    border-color: #66b2ff; 
    outline: none;
}


.room-join-btn {
    border-radius: 4px;
    width: 100%;
    height: 50px; 
    font-size: 1.1rem; 
    color: #fff;
    background-color: #28a745; 
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.room-join-btn:hover {
    background-color: #218838; 
    transform: scale(1.03); 
}
