/* Default layout */
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid red;
    width: 95%;
    gap: 0.5rem;
}

@media (max-width: 600px) {
    .main-content {
        flex-direction: column;
    }

    .create-game-section {
        order: 1;
    }

    .secondary-content {
        display: flex;
        flex-direction: row;
        order: 2;
    }

    .connected-users-section {
        width: 50%;
    }

    .chatbox-video-section {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .chatbox-section {
        flex: 1;
    }

    .video-call-section {
        flex: 1;
    }
}
