body {
    margin: 0;
}

.room {
    width: 100%;
    max-width: 250px;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    height: 600px; /* Adjust height to fit the layout */
    overflow-y: auto; /* Add scroll when content exceeds height */
    flex-grow: 0; /* Allow container to grow within parent */
    flex-shrink: 0;
    position: relative; /* Added to ensure child positioning works */
}

.user-name {
    display: none;
    color: rgba(255, 255, 255, 1);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.control,
.local-controls,
.controls {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6); /* Slightly transparent background */
    border-radius: 4px;
    padding: 5px;
    z-index: 10; /* Ensure it is above other elements */
}

.control button,
.local-controls button,
.controls button {
    color: #fff;
    background: transparent;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.control button:hover,
.local-controls button:hover,
.controls button:hover {
    background: rgba(255, 255, 255, 0.3); /* Slight hover effect */
}

.remote-user-container:hover .controls,
.remote-user-container:hover .user-name,
.local-user-container:hover .local-controls,
.remote-user-container:hover .user-name {
    display: block;
}

.btn {
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    align-items: center;
    font-size: 0;
    color: inherit;
}

.btn-phone {
    border-radius: 0.55rem;
    padding: 0.5rem 4rem;
    color: #fff;
    background-color: #16a34a;
}

.btn-phone-active {
    background-color: #dc2626;
}
