* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-width: 280px;
    height: 500px;
    border-radius: 4px;
    background-color: white;
}
.chat-section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.message-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px;
    height: 40px;
}
.input-tag {
    width: 100%;
    height: 30px;
    padding-left: 4px;
}
