.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 60px;
    border-radius: 8px;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.word-length-guess {
    font-weight: bold;
    font-size: x-large;
}
.guess-box {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-round {
    display: flex;
    font-weight: bold;
    font-size: larger;
}
.timer {
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.responsive-round-text {
    display: block; /* or any other display property you need */
}

/* Hide the element on small screens */
@media (max-width: 600px) {
    .responsive-round-text {
        display: none;
    }
}
.responsive-guess-text {
    font-size: clamp(12px, 1.5vw, 24px);
}
